:root {

    /* =========================
       COLORS
    ========================= */

    --background: #060606;
    --surface:
        rgba(255, 255, 255, .03);
    --surface-strong:
        rgba(255, 255, 255, .06);
    --border:
        rgba(255, 255, 255, .08);
    --text-primary: #ffffff;
    --text-secondary:
        rgba(255, 255, 255, .7);
    --gold: #d4af37;
    --gold-light: #fff0b3;

    /* =========================
       EFFECTS
    ========================= */
    --shadow-soft:
        0 10px 40px rgba(0, 0, 0, .4);
    --blur: blur(10px);
    /* =========================
       TYPOGRAPHY
    ========================= */
    --font-title:
        'Cinzel', serif;
    --font-body:
        'Inter', sans-serif;

        --rank-color:white;

}